<!-- Bottom nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-5 navbar-text">&copy; Copyright Gabriel Dias Tinoco 2021.</h6>
    <a href="https://github.com/Gatinoko/COMP225-Assignment1"><i class="fab fa-2x fa-github" style="color: white;"></i></a>
  </nav>
</footer>